<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6"  *ngIf="!user">
      <div class="text-center">
        <h5>Search any user</h5>
        <p class="lead">Please enter a <b>username</b>.</p>
      </div>
    </div>

    <div class="col-md-offset-3 col-md-6">
      <form>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter Github username..." [(ngModel)]="username" name="username" (keyup)="searchUser()">
            <div class="input-group-addon"><i class="fa fa-keyboard-o" aria-hidden="true"></i></div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="user">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>{{user.name}}'s Profile</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <img src="{{user.avatar_url}}" alt="{{user.name}}" class="img-thumbnail img-responsive img-circle">
              &nbsp;
              <a href="{{user.html_url}}"  class="btn btn-block btn-default" target="_blank">View Profile</a>
            </div>
            <div class="col-md-8">
              <br>
              <ul class="list-group">
                <li class="list-group-item"><strong>Username</strong>: {{user.login}}</li>
                <li class="list-group-item"><strong>Location</strong>: {{user.location}}</li>
                <li class="list-group-item"><strong>Email</strong>: {{user.email}}</li>
                <li class="list-group-item"><strong>Website</strong>: <a href="{{user.blog}}" target="_blank">{{user.blog}}</a></li>
                <li class="list-group-item"><strong>Company</strong>: {{user.company}}</li>
                <li class="list-group-item"><strong>Memeber Since</strong>: {{user.created_at | date}}</li>
              </ul>
            </div>
            <div class="col-md-12">
              <div class="stats">
                <span class="label label-default">{{user.public_repos}} Public Repos</span>
                <span class="label label-primary">{{user.public_gists}} Public Gists</span>
                <span class="label label-danger">{{user.followers}} Followers</span>
                <span class="label label-success">{{user.following}} Following</span>
                <span class="label label-warning" *ngIf="(user.hireable === true)">Available For Hire!</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{user.name}}'s Repos</h3>
        </div>
        <div class="panel-body">
          <div *ngFor="let repo of repos">
            <div class="row">
              <div class="col-md-12">
                <h4><a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></h4>
                <p>{{repo.description}}</p>
              </div>
              <div class="col-md-4">
                <span class="label label-default">{{repo.watchers}} Watchers</span>
                <span class="label label-primary">{{repo.forks}} Forks</span>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
